<div class="row" data-ng-cloak="">
    <div class="medium-12 columns"><!--Body content-->
        <a href="/" class="topcoat-button backBtn">Back</a>      
    </div>
</div>

<div class="row" data-ng-cloak="">
    <div class="medium-12 columns"><!--Body content-->
        <h2>{{employeeInfo.name}}</h2>
        {{employeeInfo.title}}, {{employeeInfo.department}}
        <p><strong>P:</strong> {{employeeInfo.landline}}<br>
        <strong>M:</strong> {{employeeInfo.mobile}}<br>
        <strong>F:</strong> {{employeeInfo.fax}}</p>
        <p><strong>E:</strong> {{employeeInfo.email}}</p>
        <p><strong>A:</strong> {{employeeInfo.address}}</p>
    </div>
</div>